* {
    margin:0;  
    padding:0;  
    box-sizing: border-box; 
}

header {
    position: sticky;
    top: 0;
    background-color: rgb(79, 42, 42);
    color: white;
    padding: 2vh;
    display: flex; 
    justify-content: space-between; 
    align-items: center; /
}

h1{
    margin: 0;
    font-size: 40px;
}

nav{
    display: flex;
    font-size: 20px;
    
}

header nav a {
    padding: 20px; 
    text-decoration: none; 
    color: white; 
    transition: background-color 0.3s; 
}

header nav a:visited {
    color: white; 
}

header nav a:hover {
    background-color: #4d4747; 
    color: red; 
}

header nav a:active {
    color: #cb6654; 
}

article {
    background-color: #eddcdc; 
    display: flex; 
    flex-direction: column; /* direcao vertical */
    justify-content: center; /* centraliza verticalmente */
    align-items: center; /* centraliza horizontalmente */
    width: 100vw; /* larg total da viewport */
    height: 50vh; /* alt de 50% da viewport */
    padding: 20px; 
}

.poema {
    font-size: 18px; /* Tamanho da fonte do poema */
    text-align: center; /* Centraliza o texto */
    margin-bottom: 15px; /* Espaço abaixo do poema */
}

.autor {
    font-weight: bold; /* Fonte em negrito para o autor */
    font-style: italic; /* Fonte em itálico para o autor */
    font-size: 16px; /* Tamanho da fonte do autor */
}