*{
    background-color: rgb(244, 241, 240);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 20px;
    margin: 90px;
}

li{
    padding-top: 30px;
}

button{
    background-color: rgb(40, 40, 41);
    border: none;
    font-size: 20px;
    border-radius: 10px;
    margin-left: 10px;
    padding: 10px;
}

button:hover{
    background-color: rgb(201, 201, 203);
    cursor:grab;
}

input{
    border: 5px solid black;
    padding-left: 10px;
    margin-left: 10px;
    font-size: 20px;
}